body {
    font-family:Roboto, sans-serif;
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
    
}

.header {
    height:80px;
    background:#087e72;
    color:white;
    display:flex;
    font-size:25px;
    justify-content:space-evenly;
    align-items:center;    
    padding-bottom:50px;
}

.main {
    display:flex;
    color:#f9faf8;
    background:#087e72;
    justify-content:center;
    align-items:center;
    

}
.main-content {
    display:flex;
    margin:0px;
    padding:0px;
    align-items:center;    
}
.main-text {
    margin-left:450px;
    margin-right:30px;
    margin-bottom:60px;
}

button {
    border:none;
    border-radius:8px;
    background:#3882f6;
    color:#f9faf8;
    padding:8px 24px;
}
.bottom-button {
    border: solid #61b70b;
    border-radius:8px;
}
.main-message {
    font-size:48px;
    font-weight:bolder;
    margin-bottom:0px;
}
.secondary {
    background:rgba(250, 128, 114, 0.669);
    flex-direction:column;
}

.container {
    display:flex;
    gap:80px;
    margin-left:50px;
    margin-right:50px;
    padding-bottom:50px;
    margin-bottom:50px;
    justify-content:center;
    align-items:start;
}

.img-text {
    max-width:350px; 
}

img {
    width:350px;
    height:500px;
    border:solid #087e72;
    border-width: .5em;
    
}
.heading {
    text-align:center;
}


.footer {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1f2937;
    color:#f9faf8;
}
ul {
    display:flex;
    list-style-type:none;
    margin:0px;
    padding:0px;
    gap:75px;
    margin-right:20px;
}

a {
    text-decoration:none;
    color:#f9faf8;
    font-size:15px;
}
p {
    display:flex;
    
}


.wlk {
    border-radius:4px;
    height:auto;
    width:50px;
    float:right;
    margin-left:50px;
}
.mtn {
    border-radius:4px;
    height:auto;
    width:400px;
    margin-right:500px;
}

    




