body {
    font-family:Roboto, sans-serif;
    margin:0;
    min-height:100vh;
    display:flex;
    flex-direction:column;
}

.header {
    height:80px;
    background:#1f2937;
    color:white;
    display:flex;
    font-size:25px;
    justify-content:space-evenly;
    align-items:center;    
    padding-bottom:50px;
}

.main {
    display:flex;
    color:#f9faf8;
    background:#1f2937;
    justify-content:center;
    align-items:center;

}
.main-content {
    display:flex;
    
    align-items:center;    
}
.main-text {
    margin-left:500px;
    margin-bottom:60px;
}

.main-message {
    font-size:48px;
    font-weight:bolder;
    margin-bottom:0px;
}
.seconday {
    display:flex;
    
}



.heading {
    text-align:center;
}
.img-text {
    display:flex;
    
}

.footer {
    display:flex;
    align-items:center;
    justify-content:center;
    background:#1f2937;
    color:#f9faf8;
}
ul {
    display:flex;
    list-style-type:none;
    margin:0px;
    padding:0px;
    gap:75px;
    margin-right:20px;
}

a {
    text-decoration:none;
    color:#f9faf8;
    font-size:15px;
}
p {
    display:flex;
    
}


.wlk {
    border-radius:4px;
    height:auto;
    width:50px;
    float:right;
    margin-left:50px;
}
.mtn {
    border-radius:4px;
    height:auto;
    width:400px;
    margin-right:500px;
}
.exercise,.cardio,.diet,.physique {
    border-radius:4px;
    height:auto;
    width:250px;
    display:flex;
}
.img-text {
    text-align:justify;
    width:250px;
}
.img-text img{
    display:block;
    margin: 0 auto;
}




